body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
}


footer {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-weight: bold;
    color: #007bff;
    font-style: italic;
    font-size: 20px;
}

nav a {
    margin-left: 40px;
    text-decoration: none;
    color: #555555;
    font-size: 20px;
    
}
nav:hover{
    transform: scale(1.1);
    transition: transform 0.6s ease;
}
.all {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 20px;
    
}

.item img{
    border-radius: 40px;
}
.item {
    text-align: center; 
    border-radius: 30px;
}
.item:hover{
    transform: scale(1.1);
    transition: transform 0.6s ease;
    box-shadow: 8px 10px 5px 2px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    padding: 10px;
    
}

.item h3 {
    font-size: 14px;
    margin: 10px 0 5px;
}

.item p {
    margin: 5px 0;
    font-weight: bold;
}

.item button {
    margin-top: 5px;
    padding: 6px 20px;
    border: 1px solid #007bff;
    background: white;
    color: #007bff;
    border-radius: 20px;
}




































footer {
    background: #0c0c1f;
    color: white;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: auto;
    padding: 30px 20px;
}

.footer-logo {
    font-weight: bold;
    font-style: italic;
    color: #007bff;
    font-size: 20px;
}

.footer-icons {
    margin-top: 15px;
}
.truba{
    height: 25px;
    font-weight: 50px;
}
.footer-icons img {
    width: 30px;
    margin: 0 10px;
    vertical-align: middle;
}
button:hover{
    background-color: #007bff;
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.6s ease;
}
@media (max-width: 600px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 5px;
    }
}